# IDEs
.vscode/
.vscode/*
.github/*
.github

# macOS
.DS_Store
.AppleDouble
.LSOverride
models/residual_cnn_epoch_01.joblib
models/residual_cnn_epoch_02.joblib
models/residual_cnn_epoch_03.joblib
models/residual_cnn_epoch_04.joblib
models/residual_cnn_epoch_05.joblib
models/residual_cnn_epoch_06.joblib
models/residual_cnn_epoch_07.joblib
models/residual_cnn_epoch_08.joblib
models/residual_cnn_epoch_09.joblib
models/residual_cnn_epoch_10.joblib
models/residual_cnn_epoch_11.joblib
models/residual_cnn_epoch_12.joblib
models/residual_cnn_epoch_13.joblib
models/residual_cnn_epoch_14.joblib
models/residual_cnn_epoch_15.joblib
models/residual_cnn_epoch_16.joblib
models/residual_cnn_epoch_17.joblib
models/residual_cnn_epoch_18.joblib
models/residual_cnn_epoch_19.joblib
models/residual_cnn_epoch_20.joblib
models/residual_cnn_epoch_21.joblib
models/residual_cnn_epoch_22.joblib
models/residual_cnn_epoch_23.joblib
models/residual_cnn_epoch_24.joblib
models/residual_cnn_epoch_25.joblib
models/residual_cnn_epoch_26.joblib
models/residual_cnn_epoch_27.joblib
models/residual_cnn_epoch_28.joblib
models/residual_cnn_epoch_29.joblib
models/residual_cnn_epoch_30.joblib
models/simple_cnn_epoch_01.joblib
models/simple_cnn_epoch_02.joblib
models/simple_cnn_epoch_03.joblib
models/simple_cnn_epoch_04.joblib
models/simple_cnn_epoch_05.joblib
models/simple_cnn_epoch_06.joblib
models/simple_cnn_epoch_07.joblib
models/simple_cnn_epoch_08.joblib
models/simple_cnn_epoch_09.joblib
models/simple_cnn_epoch_10.joblib
models/simple_cnn_epoch_11.joblib
models/simple_cnn_epoch_12.joblib
models/simple_cnn_epoch_13.joblib
models/simple_cnn_epoch_14.joblib
models/simple_cnn_epoch_15.joblib
models/simple_cnn_epoch_16.joblib
models/simple_cnn_epoch_17.joblib
models/simple_cnn_epoch_18.joblib
models/simple_cnn_epoch_19.joblib
models/simple_cnn_epoch_20.joblib
models/simple_cnn_epoch_21.joblib
models/simple_cnn_epoch_22.joblib
models/simple_cnn_epoch_23.joblib
models/simple_cnn_epoch_24.joblib
models/simple_cnn_epoch_25.joblib
